@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 
}

:root {
  --Color-Primary: rgb(57, 170, 204);
  --Color-secondary: rgb(7, 7, 7);
  --color-pale: #d3e8eb;
  --Icon-Size: 40px;
  --color-princles: #cc461d;
}

html {
  scroll-behavior: smooth;
}

body {
  display: inline;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-pale);
}

span a {
  text-decoration: none;
  color: var(--color-princles);
}

.button {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-size: 30px;
  width: 250px;
  height: 50px;
  background-color: var(--color-princles);
  border-radius: 10px;
  border: 2px;
  color: var(--color-pale);
  display: flex;
  justify-content: center;
  margin: 20px;
  transition: 300ms;
  cursor: pointer;
}

#button-resume{
  border: solid var(--Color-Primary) ;
}

#button-resume:hover{
  background-color: var(--Color-Primary);
  border: solid var(--color-princles);
  color: var(--Color-secondary);
}

#button-resume:active{
  background-color: var(--color-pale);
  border: solid var(--color-princles);
  color: var(--Color-secondary);
}

#button-form{
  border: solid var(--color-pale) ;
}

#button-form:hover{
  background-color: var(--color-pale);
  border: solid var(--color-princles);
  color: var(--Color-secondary);
}

#button-form:active{
  background-color: var(--Color-Primary);
  border: solid var(--color-princles);
  color: var(--Color-secondary);
}

/*Header and Sidebar*/

.nav {
  background-color: var(--Color-Primary);
  color: var(--Color-secondary);
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 110px;
  height: 100%;
  position: fixed;
  left: -110px;
  z-index: 100;
  transition: left 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: none;
}

.nav.visible {
  left: 0px;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}
.nav.invisible {
  left: -110px;
  box-shadow: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 20px 45px 20px;
}

.nav-list {
  display: flex;
  justify-content: left;
  margin: rem;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 2px;
  background: black;
  width: 100%;
  border-radius: 200px;
}

.line-contacts {
  z-index: 1000000;
  height: 2px;
  background: var(--color-pale);
  width: 100%;
  border-radius: 200px;
}

.nav-list a{
   text-decoration: none;
   color: black;
   font-size: 2rem;
   padding: 20px 20px 15px 20px;
   transition: 300ms;
   height: auto;
   border-radius: 7px;
}
.nav-list li {
  margin: 50px;
 
  
}

.nav-list a:hover {
  background-color: var(--Color-secondary);
color: var(--color-pale);
box-sizing: border-box;
box-shadow: -5px -5px 0 0 var(--color-princles) inset;


}


.nav-logo-sidebar {
  display: none;
}

.logotag {
  text-decoration: none;
  color: var(--Color-secondary);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2.8rem;
}
.navbar{
  font-size: 2rem;
  padding: 40px;
  background-color: var(--Color-Primary);
  position: fixed;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
 z-index: 100;
 overflow: hidden;
 transition: 0.3s ease-in-out !important;

}
.navbar-button-sidebar {
font-size: 2rem;

}

.navbar-button {
  cursor: pointer;
  z-index: 10000px;
  font-size: 2rem;
}
/*Main Body*/

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 20px 20px 20px;
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
      url('./Components/bg.jpg'),;
      object-fit: none;
      background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 1;
}

.body#visible {
  background-color: rgb(0, 0, 0, 0.25)  !important;
}

.body h1 {
  font-size: 55px;
  padding: 20px;
}

.body h2 {
  font-size: 45px;
  padding: 20px;
}

.body p {
  font-size: 30px;
  padding: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.pfp {
display: flex;
align-self: center;
align-items: center;
justify-content: center;
background-color: var(--color-princles);
border: 10px solid var(--color-princles);
border-radius: 2px;
box-shadow: 5px 5px 0 4px black;
}

.pfp img {
  width: 100%;
  height: auto;
  
}

span {
  color: var(--Color-Primary)
}
.About {
  padding-top: 100px;
}

/*Skills*/

.Skills {
padding-top: 100px;
}

/*skills Grid*/


.skills-programming {

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 50%;
  gap: 20px;
 
  
 }

.skills-show {

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    gap: 20px;
   
    
   }
 



.skills-card {

  display: flex;
  flex-direction: column;
  background-color: var(--Color-secondary);
  color: var(--color-pale);
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 2px;
  font-size: 40px;
  gap: 20px;
  transition: 250ms;
  box-shadow: 5px 5px 0 0 var(--Color-secondary);
 
  border: 2px solid var(--Color-Primary);

}

.skills-card h3 {
  font-size: 70px;
}

.skills-card h2 {
  font-size: 30px;
}

.skills-card:hover {
  translate: -5px -10px;
  box-shadow: 10px 15px 0 0 var(--color-princles);
 


}

.myProgress {
  width: 75%;
  height: 20px;
  background-color: var(--Color-Primary) !important;
  border-radius: 3px 3px 3px 3px !important;
  
}
.myBar {
  width: 100%;
  background-color: grey;
  margin: 20px;
  border-radius: 3px;
}

.skills-text {

  transition: transform 250ms;

}

.skills-logo{
  transition: transform 250ms;
}

/*Skills Colors*/

  /*Programming Colors*/
  
  .color-java {
    width: 90%;
    height: 20px;
    background-color: var(--Color-Primary);
    
    
  }
  
  .color-cpp {
    width: 65%;
    height: 20px;
  
    
    
  }
  
  .color-javascript {
    width: 75%;
    height: 20px;
    background-color: var(--Color-Primary);
  
  
    
  }
  
  /*design bar colors*/
  
  .color-html {
    width: 95%;
    height: 20px;
    background-color: var(--Color-Primary);
    
    
  }
  
  .color-css {
    width: 90%;
    height: 20px;
    background-color: var(--Color-Primary);
   
    
  }
  
  .color-tailwind {
    width: 65%;
    height: 20px;
    background-color: var(--Color-Primary);
   
    
  }
  
  .color-bootstrap {
    width: 95%;
    height: 20px;
    background-color: var(--Color-Primary);
    
    
  }
  
  .color-react {
    width: 75%;
    height: 20px;
    background-color: var(--Color-Primary);
   
    
  }
  
  .color-photoshop {
    width: 90%;
    height: 20px;
    background-color: var(--Color-Primary);
    
    
  }
  
  .color-adobeXD {
    width: 95%;
    height: 20px;
    background-color: var(--Color-Primary);
    
    
  }
  

/*Work*/ 
.work-card {
  display: flex;
  flex-direction: column;
  background-color: var(--Color-secondary);
  color: var(--color-pale);
  padding: 20px;
  text-align: left;
  align-items: left;
  border-radius: 2px;
  font-size: 100%;
  gap: 20px;
  transition: 250ms;
  box-shadow: 5px 5px 0 0 var(--Color-secondary);
  border: 2px solid var(--Color-Primary);
 
}

.work-card h3 {
  font-size: 30px;
}

.work-card h2 {
  font-size: 45px;
  margin: 0;
}

.work-card:hover {
  translate: -5px -10px;
  box-shadow: 10px 15px 0 0 var(--color-princles);


}

#EPU {
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
      url('https://epu.edu.iq/wp-content/uploads/2022/03/11111-1-1200x759.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position:40%;
}


/* contact */
.Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-content {
margin-top: 10px;
display:flex;
align-self:center;
width: fit-content;
gap: 20px;
background-color: var(--Color-Primary);
flex-direction: column;
border-radius: 10px;
flex-wrap: nowrap;
}

.contact-card{
  display: flex;
  flex-direction: column;
  background-color: var(--Color-Primary);
  color: var(--Color-secondary) !important;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: var(--Icon-Size);
  transition: 250ms;
  box-shadow: var(--color-pale);

}

.contact-card a {
  text-decoration: none;
  color: var(--color-pale);
  
}

.contact-card:hover {
  translate: 8px 0px;
  box-shadow: var(--color-pale);
  background-color: var(--Color-secondary) !important;
   color:var(--color-pale)!important;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--Color-Primary);
  border-radius: 20px;
  border: 5px solid var(--color-princles);
  padding: 10px;
  align-self: center;
  margin-top: 20px;
  }

.contact-input {
border-radius: 10px;
width: 70%;
height: 50px;
border:2px solid var(--color-princles);
font-size: 30px;
background-color: var(--color-pale);
}

.contact-text {
  border-radius: 10px;
  width: 70%;
  height: 250px;
  resize: none;
  border:2px solid var(--color-princles);
  background-color: var(--color-pale);
  font-size: 30px;
}

form label {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: center;
 margin-top: auto;
  align-self: center;

}

.footer-main {
  display: flex;
  justify-content: center;
 margin-top: auto;
  align-self: center;
  background-color: var(--Color-Primary);
  width: 100%;
  margin-top: 20px;
  border: 2px solid var(--color-princles);
  padding: 10px;
  padding-left: -110px;
  
}

.colorchange  {
  width: 75%;
  height: 20px;
  background-color: var(--Color-Primary);
  border-radius: 10px 10px 10px 10px;
  
}


/*Media queries*/

@media screen and (min-width: 600px)  {

  

  .skills-show {

    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows:  1fr 1fr 1fr 1fr 50px;
    gap: 20px;
   
    
   }

   
.skills-programming {

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 50%;
  gap: 20px;
 
  
 }

 .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 120px;
}

.nav {
  left: 0px !important;
  box-shadow: none;

}
.navbar {
  transition: left 0.3s ease-in-out !important; 
  top: -100px !important;
}

.navbar-button-sidebar{
  display: none;
}
.nav-logo-sidebar{
  display: flex;
}

.nav.visible {
  left: -110px;
  box-shadow: none;
}

.contact-form {
  width: 90%;

}
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {

  .home {
    flex-direction: row-reverse;
  }

    .skills-show {
  
      display: grid;
      justify-content: center;
      grid-template-columns:  30% 30% 30% ;
      grid-template-rows:  1fr 1fr 1fr 50px;
      gap: 20px;
     
      
     }

     
.skills-programming {

  display: grid;
  justify-content: center;
  grid-template-columns: 29% 30% 29%;
  grid-template-rows: 1fr 50%;
  gap: 20px;
 
  
 }

 .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 120px;
}

.nav {

  left: 0px !important;
}

.contact-form {
  width: 70%;

}
  }
  

@media screen and (min-width: 1280px) {

  .home {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .skills-show {

    display: grid;
    justify-content: center;
    grid-template-columns:  22% 22% 22% 22% ;
    grid-template-rows:   1fr 1fr 50px;
    gap: 20px;
   
    
   }

   
.skills-programming {

  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 1fr 50%;
  gap: 20px;
 
  
 }

 .body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 120px;
}

.nav {
  left: 0px !important;

}

.contact-form {
  width: 50%;

}
}
